<div class=" " style="padding-left:10px;padding-right:10px">
  <div class="row">
    <div class="col-md-5 block">
      Employee Details Entry Form
    </div>
    <div class="col-md-7 block">
      Employee List
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div style="border:1px solid gray;padding: 3px;min-height: 490px">
        <div class="row cusrow">
          <div class="col-md-4">
            Name
          </div>
          <div class="col-md-4">
            <input type="text" name="fName" class="form-control" [(ngModel)]="iEmployee.fName">
          </div>
          <div class="col-md-4">
            <input type="text" name="lName" class="form-control" [(ngModel)]="iEmployee.lName">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Technology
          </div>
          <div class="col-md-8">
            <input type="text" name="technology" class="form-control" [(ngModel)]="iEmployee.technology">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Designation
          </div>
          <div class="col-md-8">
            <input type="text" name="designation" class="form-control" [(ngModel)]="iEmployee.designation">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Rating
          </div>
          <div class="col-md-8">
            <input type="text" name="rating" class="form-control" [(ngModel)]="iEmployee.rating">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Core Expertise In
          </div>
          <div class="col-md-8">
            <input type="text" name="coreExpertise" class="form-control" [(ngModel)]="iEmployee.coreExpertise">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Certification If Any
          </div>
          <div class="col-md-8">
            <input type="radio" name="isCertification" value="true" [(ngModel)]="iEmployee.isCertification"> Yes
            <input type="radio" name="isCertification" value="false" [(ngModel)]="iEmployee.isCertification"> No
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Certification
          </div>
          <div class="col-md-8">
            <input type="text" name="certificationName" class="form-control" [(ngModel)]="iEmployee.certificationName">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-4">
            Company
          </div>
          <div class="col-md-8">
            <input type="text" name="compnay" class="form-control" [(ngModel)]="iEmployee.compnay">
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-2">
          </div>
          <div class="col-md-7">
            Few Line About you
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <textarea name="about" class="form-control" [(ngModel)]="iEmployee.about"> </textarea>
          </div>
        </div>
        <div class="row cusrow">
          <div class="col-md-6">
          </div>
          <div class="col-md-3">
            <button class="btn" style="width: 100%" (click)="addEmployee()">Cancel</button>
          </div>
          <div class="col-md-3">
            <button class="btn" style="width: 100%" *ngIf="iEmployee.id === 0" (click)="addEmployee()">Save</button>
            <button class="btn" style="width: 100%" *ngIf="iEmployee.id !== 0"
              (click)="updateEmployee()">update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div style="border:1px solid gray;padding: 0p;min-height: 490px">
        <div class="row cusrow2">
          <div class="col-md-5">
          </div>
          <div class="col-md-4">
            <select class="form-control">
              <option>Search By</option>
              <option value="name">By Name</option>
              <option value="technology">By technology</option>
              <option value="designation">By Designation</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Serach" (ngModelChange)="filterByValue()"
              [(ngModel)]="search" />
          </div>
        </div>
        <div class="row cusrow2">
          <div class="col-md-12">
            <div style='overflow-y:auto;height:430px;'>
              <table style="width:100%" class="table table-bordered">
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Technology</th>
                  <th>Designation</th>
                  <th>Expertise</th>
                  <th>Core</th>
                  <th>Action</th>
                </tr>
                <ng-container *ngIf="isLoader">
                  <tr>
                    <td colspan="7" class="text-center">Loading Data.....</td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="!isLoader">
                  <tr *ngFor="let item of iEmployeeColl; let i = index">
                    <td>{{i+1}}</td>
                    <td id="tdName">{{item.fName}} {{item.lName}}</td>
                    <td>{{item.technology}}</td>
                    <td [ngClass]="item.rating >=8 ?'expert':'noexpert'">{{item.designation}}</td>
                    <td [ngStyle]="getColorBYRating(item.rating)">{{getExpertise(item.rating)}}</td>
                    <td>{{item.coreExpertise}}</td>
                    <td> <i class="fa fa-pencil-alt" (click)="getRecordForEdit(item.id)">E</i>
                      <i class="fa fa-trash-alt" (click)="deleteEmployee(item)">D</i></td>
                  </tr>
                  <tr *ngIf="iEmployeeColl.length == 0">
                    <td colspan="7" style="text-align: center;">No Record Found</td>
                  </tr>
                </ng-container>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
