<div class="row">
  <div class="col-md-2">
    {{rollNo}}
  </div>
  <div class="col-md-2">
    {{firstName}}
  </div>
  <div class="col-md-2">
    {{student.name}}
  </div>
</div>

<div class="row pt-4">
  <div class="col-md-2">
    <input type="text" [value]="firstName" minLength="8" class="form-control" />
  </div>
  <div class="col-md-2" [innerHTML]="heading">
  </div>
  <div class="col-md-2">
    {{heading}}
  </div>
</div>

<div class="row pt-4">
  <div class="col-md-2">
    <input type="text" [(ngModel)]="firstName" minLength="8" class="form-control" />
  </div>
  <div class="col-md-2" [innerHTML]="heading">
  </div>
  <div class="col-md-2">
    {{heading}}
  </div>
</div>
