<div class="row">
  <div class="col-md-3">
    <div class="bg-success p-3" *ngIf="'false'">
      div 1
    </div>
  </div>
  <div class="col-md-3">
    <div class="bg-primary p-3" [hidden]="div1visible">
      div 2
    </div>
  </div>
  <div class="col-md-3">
    <div class="bg-success p-3" *ngIf="getVisible()">
      div 1
    </div>
  </div>
</div>
<div>
  {{getVisible()}}
</div>
<div class="row">
  <div class="col-md-1">
    <input type="button" value="Add" (click)="toggle()"  class="btn btn-success" />
  </div>
</div>
